body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 20px;
  text-align: center;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url('imgs/Underthings.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about,.games {
  max-width: 80%;
  border: 2px solid #333333;
  padding: 20px;
  margin: 20px auto;
  background-color: #9cb7e3;
}

h1 {
  color: #f9f6f8;
}

h4 {
  color: #000000;
  background-color: #9cb7e3ac;
}

p {
  color: #333333;
}

img {
  width: 50%;
}

ul {
  text-align: center;
  list-style-position: inside;
}

@media (max-width: 600px) {

  .about,.games {
    min-width: 400px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {

  .about,.games {
    min-width: 700px;
  }
}
